<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tamagotchi complete.html.erb</title>
    <link rel="stylesheet" href="/public/index.css">
    </head>
  <body>

    <h3 class="h3_complete">Игра завершена</h3>
    <p class="img">
    <img src="https://i.pinimg.com/originals/b1/9c/ee/b19cee6fd06465cf7ec0668054625db3.jpg" alt="Panda" style="min-width: 300px; max-height: 300px">
    </p>

  </body>
</html>
